.cardQuestion_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardQuestion_question {
    margin-top: 35px;
    margin-bottom: 15px;

    text-align: center;
}
.cardQuestion_question_title {
    margin-bottom: 5px;

    font-weight: bold;
}
.cardQuestion_question_question {
    padding: 0 20px;

    text-align: center;
    word-break: break-word;
}

.cardQuestion_attempt {
    margin-bottom: 10px;

    opacity: 0.5;
}
.cardQuestion_button {
    margin-bottom: 25px;
}

.cardAnswer_answer {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px;

    text-align: center;
    word-break: break-word;
}
.cardAnswer_rateYourself {

}
