/*.mainModal {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/

/*    width: 400px;*/
/*    padding: 4px;*/

/*    background-color: white;*/
/*    border: 2px solid #000;*/
/*    !*box-shadow: 24;*!*/
/*}*/

.modalHeader {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
    padding: 10px;

    border-bottom: 1px solid #c7c7c7;
}
.headerName {
    font-size: 18px;
    font-weight: bold;
}
.headerCloseBtn {
    cursor: pointer;
}
.modalContent {
    padding: 10px;
}