.circularApp {
    display: flex;
    justify-content: center;

    margin-top: 300px;
}

.tableInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 200px;
}